/* color */
$color-1 : #1e83ec;
$color-2 : #55acee;
$color-3 : #d0e5ff;

$color-background-0 : #ffffff;
$color-background-1 : #fafafa;
$color-background-2 : #f5f5f6;
$color-background-3 : #e8eaed;

$color-border-1 : #e6e6e6;

/* z-index */
/* Modal */
$z-index-modal-overlay: 16; /* Overlay */
$z-index-modal-block: 17; /* Form block */
$z-index-modal-c1: 18; /* No important context */
$z-index-modal-c2: 19; /* Main context */
$z-index-modal-c3: 20; /* Important context */
