<div class="modal" *ngIf="user" [style.left.px]="this.clientCoord.x + 5">
	<a class="modal-close" (click)="onClickCloseModal()">
		<i class="fa fa-times icon-close" aria-hidden="true"></i>
	</a>
	<header>
		<h2>Account #{{user.id}}</h2>
	</header>
	<article>
		<table>
			<tbody>
				<tr>
					<td>Name:</td>
					<td>{{user.name}}</td>
				</tr>
				<tr>
					<td>Username:</td>
					<td>{{user.username}}</td>
				</tr>
				<tr>
					<td>E-mail:</td>
					<td>{{user.email}}</td>
				</tr>
				<tr>
					<td>Phone:</td>
					<td>{{user.phone}}</td>
				</tr>
				<tr>
					<td>Website:</td>
					<td>{{user.website}}</td>
				</tr>
			</tbody>
		</table>
	</article>

	<header>
		<h2>Address</h2>
	</header>
	<article>
		<table>
			<tbody>
				<tr>
					<td>Street:</td>
					<td>{{user.address?.street}}</td>
				</tr>
				<tr>
					<td>Suite:</td>
					<td>{{user.address?.suite}}</td>
				</tr>
				<tr>
					<td>City:</td>
					<td>{{user.address?.city}}</td>
				</tr>
				<tr>
					<td>Zipcode:</td>
					<td>{{user.address?.zipcode}}</td>
				</tr>
			</tbody>
		</table>
	</article>

	<header>
		<h2>Geolocation</h2>
	</header>
	<article>
		<table>
			<tbody>
				<tr>
					<td>Lat:</td>
					<td>{{user.address?.geo?.lat}}</td>
				</tr>
				<tr>
					<td>Lng:</td>
					<td>{{user.address?.geo?.lng}}</td>
				</tr>
			</tbody>
		</table>
	</article>

	<header>
		<h2>Company</h2>
	</header>
	<article>
		<table>
			<tbody>
				<tr>
					<td>Name:</td>
					<td>{{user.company?.name}}</td>
				</tr>
				<tr>
					<td>Catch phrase:</td>
					<td>{{user.company?.catchPhrase}}</td>
				</tr>
				<tr>
					<td>Bs:</td>
					<td>{{user.company?.bs}}</td>
				</tr>
			</tbody>
		</table>
	</article>
</div>
