<section class="section">
	<div class="block usersList">
		<table>
			<thead>
				<tr>
					<th class="cNumber" [class.active]="activeField === 'id'">ID</th>
					<th [class.active]="activeField === 'username'">Username</th>
					<th [class.active]="activeField === 'name'">Name</th>
					<th [class.active]="activeField === 'company'">Company</th>
					<th [class.active]="activeField === 'email'">E-mail</th>
				</tr>
			</thead>
			<tbody (click)="onClickSelectUser($event)">
				<tr *ngFor="let record of stateUsers" [attr.data-id]="record.id"
					[class.active]="record.id === activeUserId">
					<td class="cNumber">{{record.id}}</td>
					<td>{{record.username}}</td>
					<td>{{record.name}}</td>
					<td>{{record.company?.name}}</td>
					<td class="email">{{record.email}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
