@import '../../../assets/scss/global.scss';

.usersList {
	background-color: $color-background-1;
	border: 1px solid $color-border-1;
	margin-top: 25px;

	table {
		border-collapse: collapse;
		width: 100%;

		thead th {
			background-color: $color-2;

			color: white;
			text-transform: uppercase;

			&:hover, &.active {
				background-color: $color-header;
				box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.27);

				cursor: pointer;
			}
		}

		tbody tr {
			cursor: pointer;

			&:hover, &.active {
				background-color: $color-background-0;
				box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.27);
			}

			&:last-child td {
				border-bottom: none;
			}
		}

		th, td {
			padding: 20px 15px;

			border-bottom: 1px solid $color-border-1;

			text-align: left;
		}

		.cNumber {
			text-align: center;
		}
	}
}
